<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Dashboard - SB Admin</title>

</head>
<body class="sb-nav-fixed">
	</div>
	</div>
	<br><br>
	<footer class="py-4 bg-light mt-auto">
		<div class="container-fluid px-4">
			<div class="d-flex align-items-center justify-content-between small">
				<div>
					<!--請勿更動-->
				</div>
				<div class="text-muted">Copyright &copy; Travel Master 2023</div>
			</div>
		</div>
	</footer>
</body>
</html>